<div>
    <h3>Choose example:</h3>
        <ul class="nav">
            <li>
                <span>
                    "Mini calculator"
                </span>
                <button class="style1">
                    <a routerLink="/navigation/example1">Example 1</a>
                </button>
            </li>
            <li>
                <span>
                    "Addition and multiplication of vectors"
                </span>
                <button class="style1">
                    <a routerLink="/navigation/example2">Example 2</a>
                </button>
            </li>
            <li>
                    <span>
                        "Array sorting"
                    </span>
                    <button class="style1">
                        <a routerLink="/navigation/example3">Example 3</a>
                    </button>
            </li>
            <li>
                <span>
                    "Transform"
                </span>
                <button class="style1">
                    <a routerLink="/navigation/example4">Example 4</a>
                </button>
        </li>
        </ul>
</div>